@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap");
:root {
  --font-style: "Zain", sans-serif;
  --font-sans: "Google Sans Flex", sans-serif;
  --font-mono: "Ubuntu Sans Mono";
  --radius: 0.25em;
  --radius-sm: calc(var(--radius) + 0.25em);
  --radius-m: calc(var(--radius-sm) + 1em);
  --radius-lg: calc(var(--radius-sm) + 3em);
  --radius-xg: calc(var(--radius-sm) + 5em);
  --blue-100: #F5F7FF;
  --blue-200: #EDF4FF;
  --blue-300: #D6DBF0;
  --blue-400: #BABED3;
  --blue-500: #ABB1D0;
  --blue-600: #8C93B0;
  --blue-700: #56627B;
  --blue-750: #4A546C;
  --blue-800: #2D2D3A;
  --blue-850: #1F1F2A;
  --blue-900: #121217;
  --white: #FFFFFF;
  --black: #000000;
  --time: default-time;
}

button {
  padding: 0;
  border: none;
  background: none;
}

.icon-hold {
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-lg);
  cursor: pointer;
  width: fit-content;
}
.icon-hold:hover {
  background: var(--white);
}
.icon-hold:hover svg {
  color: var(--blue-700);
}
.icon-hold svg {
  display: block;
}
.icon-hold svg.inactive {
  display: none;
}
.icon-hold.secondary:hover {
  background: var(--blue-200);
}

.back-button {
  display: flex;
  gap: 0.3em;
  align-items: center;
}
.back-button svg {
  width: 15px;
}
.back-button {
  margin-bottom: 0.5em;
}

input, select, textarea {
  padding: 1em;
  background: none;
  border: none;
}

.form-input-box {
  display: flex;
}
.form-input-box label small {
  color: var(--blue-700);
}

.just-input {
  border: 1px solid var(--blue-600);
  border-radius: var(--radius);
  color: var(--blue-750);
}
.just-input::placeholder {
  color: var(--blue-600);
  font-weight: bold;
}
.just-input:hover, .just-input:focus-within {
  background: var(--blue-200);
  border-color: transparent;
}
.just-input.secondary {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid var(--blue-600);
}

.form-input-box .input {
  border: 1px solid var(--blue-400);
  border-radius: var(--radius);
}
.form-input-box .input::placeholder {
  color: var(--blue-400);
  font-weight: bold;
}
.form-input-box:hover .input, .form-input-box:focus-within .input {
  background: var(--blue-200);
  border-color: transparent;
}
.form-input-box.--secondary .input {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid var(--blue-600);
}

.form-input-box.input-box-w-label {
  flex-direction: column;
  gap: 0.3em;
}

.form-input-box.form--w-icon {
  align-items: center;
  padding-left: 0.5em;
  border: 1px solid var(--blue-300);
  border-radius: var(--radius-m);
}
.form-input-box.form--w-icon svg {
  color: var(--blue-300);
}
.form-input-box.form--w-icon label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0.5em;
  border-right: 1px solid var(--blue-300);
  cursor: pointer;
}
.form-input-box.form--w-icon input {
  color: var(--blue-750);
  width: 100%;
  padding: 1em;
  border-radius: 0 var(--radius-m) var(--radius-m) 0;
}
.form-input-box.form--w-icon input::placeholder {
  color: var(--blue-400);
}

.form-input-box.select-input {
  padding: 0.5em;
  background: var(--blue-200);
  border-radius: var(--radius-sm);
}
.form-input-box.select-input select {
  cursor: pointer;
  padding: 0;
  color: var(--blue-750);
}

.clipboard-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  background: var(--blue-200);
  border-radius: var(--radius-sm);
  cursor: pointer;
}
.clipboard-btn.clicked {
  animation: clipboard-bg 1s ease-in-out;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 1em;
  border: none;
  border-radius: var(--radius);
  font-weight: bold;
  background: var(--blue-850);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.075);
  cursor: pointer;
}
.btn, .btn svg {
  color: var(--white);
}
.btn span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn:hover {
  background: var(--blue-750);
}
.btn.warning-btn {
  background: #D4275B;
  color: var(--white);
}
.btn.warning-btn:hover {
  background: #9c1941;
}
.btn.waiting {
  cursor: no-drop;
}
.btn.waiting .spinning-wheel {
  display: block;
}

.btn--secondary {
  background: var(--blue-700);
}
.btn--secondary:hover {
  background: var(--blue-750);
}

.btn--outline {
  border: 1px solid var(--blue-300);
  background: transparent;
}
.btn--outline, .btn--outline svg {
  color: var(--blue-850);
}
.btn--outline:hover {
  background: var(--blue-300);
}
.btn--outline:hover, .btn--outline:hover svg {
  color: var(--blue-700);
}

.btn--outline-filled {
  background: var(--blue-850);
  color: var(--white);
}
.btn--outline-filled:hover {
  background: transparent;
  color: var(--blue-850);
}

.btn--just-text {
  background-color: transparent;
  color: var(--blue-850);
  border: none;
}
.btn--just-text:hover {
  background: var(--blue-850);
  color: var(--blue-200);
}

.icon-wrapper {
  --size: 50px;
  position: relative;
  width: var(--size);
  height: var(--size);
}
.icon-wrapper .icon-bg,
.icon-wrapper .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--size);
}
.icon-wrapper .icon-bg {
  color: var(--blue-200);
}
.icon-wrapper .icon {
  width: calc(var(--size) - 0.8em);
}

.clr-circle {
  --size: 25px;
  width: var(--size);
  height: var(--size);
  border-radius: var(--radius-m);
  border: 2px solid transparent;
  cursor: pointer;
  background: var(--clr, black);
}
.clr-circle.selected, .clr-circle:hover {
  border-color: var(--blue-750);
}

/* -=-=-=-=-=-=-=-=- Dark Mode -=-=-=-=-=-=-=-=- */
.dark-mode .icon-hold:hover {
  background: var(--blue-850);
}
.dark-mode .icon-hold:hover svg {
  color: var(--blue-400);
}
.dark-mode .icon-hold.secondary:hover {
  background: var(--blue-900);
}
.dark-mode .clipboard-btn {
  background: var(--blue-900);
}
.dark-mode .clipboard-btn.clicked {
  animation: clipboard-bg-dm 1s ease-in-out;
}
.dark-mode .form-input-box label small {
  color: var(--blue-500);
}
.dark-mode .form-input-box .input {
  border-color: var(--blue-700);
}
.dark-mode .form-input-box .input::placeholder {
  color: var(--blue-700);
}
.dark-mode .form-input-box:hover .input, .dark-mode .form-input-box:focus-within .input {
  background: var(--blue-200);
  border-color: transparent;
}
.dark-mode .form-input-box.--secondary .input {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid var(--blue-600);
}
.dark-mode .just-input {
  border-color: var(--blue-700);
  color: var(--blue-300);
}
.dark-mode .just-input::placeholder {
  color: var(--blue-700);
}
.dark-mode .just-input:hover, .dark-mode .just-input:focus-within {
  background: var(--blue-900);
  border-color: transparent;
}
.dark-mode .just-input.secondary {
  border: none;
  border-bottom: 1px solid var(--blue-700);
}
.dark-mode .form-input-box label small {
  color: var(--blue-500);
}
.dark-mode .form-input-box .input {
  border-color: var(--blue-700);
  color: var(--blue-300);
}
.dark-mode .form-input-box .input::placeholder {
  color: var(--blue-700);
}
.dark-mode .form-input-box:hover .input, .dark-mode .form-input-box:focus-within .input {
  background: var(--blue-900);
  border-color: transparent;
}
.dark-mode .form-input-box.--secondary .input {
  border: none;
  border-bottom: 1px solid var(--blue-700);
}
.dark-mode .form-input-box.form--w-icon {
  border-color: var(--blue-700);
}
.dark-mode .form-input-box.form--w-icon svg {
  color: var(--blue-700);
}
.dark-mode .form-input-box.form--w-icon label {
  border-color: var(--blue-700);
}
.dark-mode .form-input-box.form--w-icon input {
  color: var(--blue-200);
}
.dark-mode .form-input-box.form--w-icon input::placeholder {
  color: var(--blue-700);
}
.dark-mode .form-input-box.select-input {
  background: var(--blue-900);
}
.dark-mode .form-input-box.select-input select {
  color: var(--blue-300);
}
.dark-mode .btn {
  background: var(--blue-200);
  color: var(--blue-850);
}
.dark-mode .btn svg {
  color: var(--blue-850);
}
.dark-mode .btn:hover {
  background: var(--blue-400);
}
.dark-mode .btn.warning-btn {
  background: #D4275B;
  color: var(--white);
}
.dark-mode .btn.warning-btn:hover {
  background: #9c1941;
}
.dark-mode .btn--secondary {
  background: var(--blue-300);
}
.dark-mode .btn--secondary:hover {
  background: var(--blue-400);
}
.dark-mode .btn--outline {
  border-color: var(--blue-700);
  background: transparent;
}
.dark-mode .btn--outline, .dark-mode .btn--outline svg {
  color: var(--blue-300);
}
.dark-mode .btn--outline:hover {
  background: var(--blue-300);
  border-color: transparent;
}
.dark-mode .btn--outline:hover, .dark-mode .btn--outline:hover svg {
  color: var(--blue-800);
}
.dark-mode .btn--outline-filled {
  background: var(--blue-400);
  color: var(--blue-850);
}
.dark-mode .btn--outline-filled:hover {
  background: transparent;
  color: var(--blue-300);
}
.dark-mode .btn--just-text {
  background-color: transparent;
  color: var(--blue-200);
  border: none;
}
.dark-mode .btn--just-text:hover {
  background: var(--blue-200);
  color: var(--blue-850);
}
.dark-mode .icon-wrapper .icon-bg {
  color: var(--blue-850);
}

/* -=-=-=-=-=-=-=-=- Animations -=-=-=-=-=-=-=-=- */
@keyframes clipboard-bg {
  0% {
    background: var(--blue-200);
  }
  50% {
    background: var(--blue-300);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.158);
  }
  100% {
    background: var(--blue-200);
  }
}
@keyframes clipboard-bg-dm {
  0% {
    background: var(--blue-900);
  }
  50% {
    background: var(--blue-850);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.158);
  }
  100% {
    background: var(--blue-900);
  }
}
/* -=-=-=-=-=-=-=-=- General -=-=-=-=-=-=-=-=- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-sans);
  transition: 0.1s linear;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-height: 100dvh;
  color: var(--blue-750);
  background: var(--blue-200);
}

svg {
  width: 25px;
  color: var(--blue-800);
}

a {
  text-decoration: none;
  color: var(--blue-750);
}

p {
  font-size: 0.9em;
}

ul {
  list-style-type: none;
}

h1 {
  color: var(--pink-850);
  font-family: var(--font-style);
  font-size: 1.6em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.vertical-line {
  width: 5px;
  height: auto;
  background: var(--blue-500); /* default */
  border-radius: var(--radius);
}

.spinning-wheel {
  display: none;
  border: 4px solid var(--blue-800);
  border-top: 4px solid var(--blue-300);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

.snackbars-box {
  position: fixed;
  bottom: 0.5em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: min(90dvw, 500px);
  font-size: 0.8em;
  z-index: 6;
}
.snackbars-box .snackbar {
  display: flex;
  gap: 0.35em;
  border-radius: var(--radius);
  background: #FFB4B4;
  color: #A34949;
  padding: 0.5em;
  cursor: pointer;
}
.snackbars-box .snackbar::after {
  content: "✕";
  float: right;
  margin-left: 0.5em;
  margin-block: auto;
}
.snackbars-box .snackbar .snackbar-text {
  width: 100%;
  font-weight: bold;
}
.snackbars-box .snackbar.success {
  background: #B4CFFF;
  color: #4961A3;
}
.snackbars-box .snackbar.success .vertical-line {
  background: #4961A3;
}
.snackbars-box .snackbar .vertical-line {
  background: #A34949;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.input-clr {
  border-radius: var(--radius);
  padding: 0;
  cursor: pointer;
}

/* -=-=-=-=-=-=-=-=- Animations -=-=-=-=-=-=-=-=- */
.fade-in-up {
  animation: fade-in-up 0.5s ease-in;
}

.fade-out {
  animation: fade-out 0.5s ease-in;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* -=-=-=-=-=-=-=-=- Others -=-=-=-=-=-=-=-=- */
@media (min-width: 1024px) {
  .mobile {
    display: none;
  }
}
/* -=-=-=-=-=-=-=-=- Dark Mode -=-=-=-=-=-=-=-=- */
.dark-mode {
  background: var(--blue-900);
  color: var(--blue-200);
}
.dark-mode svg {
  color: var(--blue-200);
}
.dark-mode a {
  color: var(--blue-300);
}
.dark-mode h1 {
  color: var(--pink-100);
}

/*# sourceMappingURL=base.css.map */
