@use "mixins" as m;


body{
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 0.5em;

    padding: 0.5em;

    @include m.respond(desktop){ height: 100dvh; }
}

.page-header{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 0.5em;

    .title{
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 0.5em;

        h1{
            @include m.line-text-overflow; 
            font-size: 1.3em;
        }

        svg{ width: 30px; }
    }

    .header-nav{
        display: flex;
        align-items: center;
        gap: 0.5em;
    }
}

main{
    min-height: 0;
    display: flex;

    .aside-hero, .user-info, .hero{
        padding: 0.5em;
        background: var(--white);
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.082);
    }

    .hero{ border-radius: var(--radius-sm); }

    .aside-hero{ border-radius: 0 0 var(--radius-sm) 0; }

    .user-info{ border-radius: 0 var(--radius-sm) 0 0; }

    @include m.respond(desktop){
        .aside-hero, .user-info, .hero{ border-radius: var(--radius-sm); }
    }
}

.main-aside{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateX(-100%);
    z-index: 2;
    transition: 0.5s;
    overflow: hidden;

    flex: 0 0 0px;
    width: 0;
    height: 100dvh;

    display: grid;
    grid-template-rows: 1fr auto;
    gap: 0.5em;

    @include m.respond(desktop){
        height: initial;
        position: initial;
        z-index: initial;
        margin: 0;
        padding: 0;
    }

    &.open{
        width: 70dvw;
        opacity: 1;
        transform: translateX(0);

        margin-right: 0.5em;

        @include m.respond(desktop){
            flex: 0 0 250px;
            width: 250px;
        }
    }

    .aside-hero{
        display: grid;
        grid-template-rows: auto auto 1fr;
        gap: 1em;

        min-height: 0;
        
        .folders-nav{
            display: flex;
            justify-content: space-between;
            gap: 0.5em;

            .btn{
                padding: 0.5em;
                svg{ width: 15px; }

                span{ font-size: 0.9em; }
            }
        }

        .folders-list{
            @include m.flex-collumn-05;
            overflow-y: auto;

            li{
                display: grid;
                grid-template-columns: auto auto 1fr;
                align-items: center;
                gap: 0.3em;

                padding: 0.3em;
                border-radius: var(--radius-sm);
                cursor: pointer;

                .highlight-clr-bar{
                    width: 5px;
                    height: 1.5em;

                    border-radius: var(--radius-sm);
                    
                    background-color: var(--color, #ef8cb9);
                }

                &:hover, &.selected{
                    background: var(--blue-100);
                    &{ color: var(--blue-700); }
                }

                &:active{
                    background: var(--blue-300);
                }

                span{
                    font-size: 0.9em;
                    @include m.line-text-overflow;
                }
                
                svg{ color: var(--color, #ef8cb9); }
            }
        }
    }

    .user-info{
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;

        svg{
            width: 20px;
            color: var(--blue-700);
        }

        .username-box{
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            gap: 0.5em;

            #username{ 
                font-size: clamp(0.7em, 3vw, 0.8em);
                @include m.line-text-overflow; 
            }
        }
    }
}

.hero{
    @include m.flex-collumn-05;
    gap: 1em;
    min-height: 0;
    height: 100%;
    flex: 1;

    overflow: auto;

    .hero-header{
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        gap: 0.5em;

        border-bottom: 2px solid var(--blue-200);

        .header-text{
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            gap: 0.3em;

            h1, svg{ color: var(--blue-700); }

            h1{
                @include m.line-text-overflow;
                font-size: 1.1em;
            }

            svg{ width: 25px; }
        }
    }

    .hero-main{
        display: grid;
        grid-template-rows: auto 1fr;
        gap: 1em;

        min-height: 0;

        .search-area{
            display: grid;
            grid-template-columns: 1fr min-content;
            align-items: center;
            justify-content: space-between;
            gap: 0.5em;

            @include m.respond(tablet){
                grid-template-columns: 400px min-content;
            }
        }

        .terms-area{
            @include m.flex-collumn-05;

            .errorMessage{
                height: 100%;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1em;

                font-size: 0.9em;
                font-weight: bold;
                text-align: center;

                svg{ width: min(70vw, 200px); }

                &, svg{ color: var(--blue-600); }
            }

            .term{
                display: flex;
                flex-direction: column;

                background: var(--blue-200);
                border-radius: var(--radius-sm);

                summary{
                    display: grid;
                    grid-template-columns: 1fr auto;
                    align-items: center;
                    gap: 0.5em;

                    padding-inline: 0.5em;
                    cursor: pointer;

                    .term-title{
                        padding-block: 1em;
                        display: grid;

                        p{
                            @include m.line-text-overflow;
                            font-size: 0.9em;
                            font-weight: bold;

                            color: var(--blue-750);
                        }
                    }

                    .icon-hold[data-id=term-expand]{
                        display: none;
                    }
                }

                &[open]{
                    .icon-hold[data-id=term-expand]{
                        display: block;
                    }
                }

                .meanings{
                    .content-inner{ // allows padding with scrollHeight
                        @include m.flex-collumn-05;
                        border-radius: 0 0 var(--radius-sm) var(--radius-sm);

                        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.041);
                        background: var(--white);
                        padding: 0.5em;
                    }

                    img{
                        max-width: 85%;
                        margin: 0 auto;
                        border-radius: var(--radius);

                        @include m.respond(tablet){ max-width: 500px; }
                    }

                    //&.open{ opacity: 1; }
                }
            }
        }
    }
}


/* POPUP */
#term-expand{
    min-height: 200px;
    max-height: 80dvh;
    overflow: auto;

    padding: 0;
    gap: 0.5em;

    nav{
        padding: 1em;
        padding-bottom: 0;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5em;

        .dropdown{
            .dropdown-content{
                top: 100%;
                left: 0;
            }
        }
    }

    .content{
        padding: 1em;
        padding-top: 0;

        background: var(--white);
        display: flex;
        flex-direction: column;
        gap: 1em;

        .term-name{
            display: flex;

            input{
                width: 100%;
                font-size: 1.3em;
                padding: 0.3em;
                outline: none;
                font-weight: bold;
            }
        }

        .meanings{
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            list-style-type: disc;
            list-style-position: inside;

            @include m.respond(tablet){
                img{ max-width: 600px; }
            }
        }
    }
}

#settings{
    &.open{
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0;
    }

    padding: 0;
    height: clamp(500px, 60dvh, 1000px);

    .btn-styled{
        padding: 0.5em;
        border-radius: var(--radius-sm);

        cursor: pointer;

        @include m.flex-center;
        gap: 0.5em;

        p{
            @include m.line-text-overflow;
            font-size: clamp(0.9em, 0.9vw, 1em);
            display: none;
        }

        svg{ width: 25px; }

        font-size: 0.9em;

        @include m.respond(tablet){
            p{ display: inline; }
            svg{ width: 20px;}
        }

        &.selected, &:hover{ background: var(--white); }
    }

    @include m.respond(tablet){
        .btn-styled{ justify-content: start; }  
    }

    .settings-aside{
        flex-shrink: 0;
        padding: 1em;

        display: flex;
        flex-direction: column;
        gap: 1em;

        max-width: 200px;

        background: var(--blue-200);
        border-radius: var(--radius-m);
        
        ul{
            flex: 1;

            display: flex;
            flex-direction: column;
            gap: 0.5em;
        }

        footer{
            @include m.flex-collumn-05;
            align-items: center;
            
            .icon-hold{ width: 100%; }

            @include m.respond(tablet){
                flex-direction: row;
                justify-content: space-between;
                
                .icon-hold{ width: fit-content; }
            }
        }
    }

    .settings-hero{
        flex: 1;
        @include m.flex-collumn-05;

        padding: 1em;

        .close-popup-icon{
            width: fit-content;
            align-self: flex-end;
        }

        .section-content{
            display: none;
            gap: 1em;

            &.open{ @include m.flex-collumn-05; }
            
            .item{
                @include m.flex-collumn-05;

                h2{
                    font-size: 0.8em;
                    color: var(--blue-600);
                }

                ul{
                    @include m.flex-collumn-05;
                    gap: 1em;

                    li{
                        display: grid;
                        grid-template-columns: 1fr minmax(auto, 300px);
                        justify-content: space-between;
                        align-items: center;
                        gap: 0.5em;

                        label, p{
                            @include m.line-text-overflow;
                            font-weight: bold;
                            color: var(--blue-700);

                            font-size: clamp(0.8em, 1.5vw, 0.9em);
                        }

                        .btn{
                            padding: 0.5em;
                            font-size: clamp(0.75em, 1.5vw, 0.85em);
                            font-weight: normal;
                        }
                    }
                    small{ color: var(--blue-600); }
                }
            }
        }
    }
}

/* -=-=-=-=-=-=-=-=- Dark Mode -=-=-=-=-=-=-=-=- */
.dark-mode{
    main{
        .aside-hero, .user-info, .hero{ background: var(--blue-850); }
    }

    .aside-hero{
        .folders-list{
            li{
                color: var(--blue-600);

                &:hover, &.selected{
                    background: var(--blue-900);
                    &{ color: var(--blue-200); }
                }

                &:active{
                    background: var(--blue-800);
                }
            }
        }
    }

    .user-info{
        svg{ color: var(--blue-400); }
    }

    .hero{
        .hero-header{
            border-color: var(--blue-750);

            .header-text{
                h1, svg{ color: var(--blue-200); }
            }
        }

        .hero-main{
            .terms-area{
                .errorMessage{
                    &, svg{ color: var(--blue-700); }
                }

                .term{
                    background: var(--blue-900);

                    summary{
                        .term-title{
                            p{ color: var(--blue-300); }
                        }
                    }

                    .meanings{
                        .content-inner{ 
                            background: var(--blue-850); 
                            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.233);
                        }
                    }
                }
            }
        }
    }

    #term-expand{
        .content{
            background: var(--blue-850);

            .title{
                //background: var(--blue-800);

                .highlight-bar{
                    background-color: var(--blue-400);
                }

                h1{ color: var(--blue-200); }
            }
        }
    }

    #settings{
        .btn-styled{
            &.selected, &:hover{
                background: var(--blue-850);
            }
        }

        .settings-aside{
            background: var(--blue-900);
        }

        .settings-hero{
            .section-content{
                .item{ ul{ li{ label, p{ color: var(--blue-200); } } } }
            }
        }
    }
}